<div class="page-container" style="min-height:609px">
	<!-- Page content -->
	<div class="page-content">

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<div class="page-header page-header-default">
    <div class="page-header-content  bg-teal-200" style="
background:#AAA9BC;">
        <div class="page-title bg-teal-200" >
            <div class="row">
            <div class="col-sm-4">
                <h3> <span class="text-semibold" style="color: white;">{% block title %}{% endblock %}</h3>
                <a class="heading-elements-toggle"><i class="icon-more"></i></a>
            </div>

            <div class="col-sm-8">
                
                <button type="button" class="btn bg-maroon btn-labeled btn-xs" onclick="loadModal('Add');"><b><i class=" icon-plus-circle2"></i></b>Add </button>
                <button type="button" class="btn bg-maroon btn-labeled btn-xs" onclick="loadModal('Update');"><b><i class="icon-pencil"></i></b>Update</button>
                <button type="button" class="btn bg-maroon btn-labeled btn-xs"><b><i class="icon-stop"></i></b>Disable</button>
                <button type="button"  class="btn bg-maroon btn-labeled btn-xs"><b><i class="icon-reload-alt"></i></b> Restore</button>
                <button type="button" class="btn bg-maroon btn-labeled btn-xs"><b><i class="icon-trash"></i></b> Permanently Delete</button>
           
            </div>
            </div>
                
            </div>
            </div>	
        </div>