{% extends "includes/layout.html" %}
{% block appjs %}

<script  type="text/javascript" src="{{url_for('static', filename='js/app/admin.js') }}"></script>
{% endblock  %}
{% block angularcontrollerblock %}AdminController{% endblock  %}
{% block content %}
<!-- Advanced login -->
				
					<div class="row"  >
						<div class="col-md-12">
						   <div class="panel panel-flat">
							  <div id="entityPanel" class="panel-body">
								 <div class="form-group">
									<div class="row">
									   <div class="col-md-12">
										  <div class="form-group has-feedback has-feedback-left">
											 <input type="text" class="search form-control input-lg" placeholder="Search Admin by Phone  / Name ">
											 <div class="form-control-feedback">
												<i class="icon-search4" style="margin-top: 10px;"></i>
											 </div>
										  </div>
									   </div>
									</div>
								 </div>
								 <div class="form-group">
									<div class="row">
									   <div class="col-md-12">
										  <table class="table table-bordered table-hover table-condensed table-striped">
											 <thead class="bg-tomato">
												<tr>
												   <th style="width:100px;"></th>
												   <th>Name</th>
												   <th>Access Group </th>
												   </tr>
											</thead>
											 <tbody id="tableBody" class="list">
												<tr ng-repeat="admin in admins">
													<td><input id="cb{a admin[0] a}" type="radio" name="selectRow" value="{a admin[0] a}" style="height:20px;width:20px" ng-click="selectAdmin(admin[0])" /></td>
													<td>{a admin[1] a}</td>
													<td>{a admin[2] a}</td>
													
												</tr>
											 </tbody>
										  </table>
									   </div>
									</div>
								 </div>
							  </div>
						   </div>
						</div>
					 </div>
					 <!-- Modal!-->
		   <div id="entity_modal" class="modal fade" data-backdrop="static" data-keyboard="false">
						<div class="modal-dialog modal-md">
						   <div class="modal-content">
							  <div class="modal-header bg-maroon">
								 <button type="button" class="close" onclick="closeEntityModal()">&times;</button>
								 <h5 id="formTitle" class="modal-title"><span id="actionTb"> </span>Administrator</h5>
							  </div>
							  <form id="entityForm" action="#" class="form-horizontal">
								 <div class="modal-body">
									<div class="form-group">
									   <label class="control-label col-sm-3">Admin Name  <span class="text-danger">*</span></label>
									   <div class="col-sm-9">
										  <input id="nameTb" type="text" placeholder="Administrator Name" maxlength="12" class="form-control maxlength" ng-model= "adminName" >
									   </div>
									</div>
									<div class="form-group">
									   <label class="control-label col-sm-3">Admin Email  <span class="text-danger">*</span></label>
									   <div class="col-sm-9">
										  <input id="emailTb" type="text" placeholder="Administrator Email" maxlength="30" class="form-control maxlength"  ng-model= "adminEmail"  >
									   </div>
									</div>
								 <div class="form-group">
									   <label class="control-label col-sm-3">Admin Phone  <span class="text-danger">*</span></label>
									   <div class="col-sm-9">
										  <input id="phoneTb" type="text" placeholder="Administrator Phone" maxlength="12" class="form-control maxlength"  ng-model= "adminPhone"  >
									   </div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-3">Access Group  <span class="text-danger">*</span></label>
										<div class="col-sm-9">
										  <select class="form-comtrol form-select form-select-lg mb-3" id="prvilegeGroupTb"  ng-model= "adminPriv" >
											<option  ng-repeat="privilegegroup in privilegegroups"  ng-value="{a privilegegroup[0] a}" > {a privilegegroup[1] a} </option>
										 </select>

										</div>
									 </div>

									
									
								 </div>
								 <div class="modal-footer">
									<input type="hidden" id="idTb" value="0"/>
									<button type="reset" class="btn btn-default">Reset Form</button>
									<button type="button" id="formButton" name="" ng-click="submitForm()" class="btn btn-primary">Submit form</button>
								 </div>
							  </form>
						   </div>
						</div>
					 </div>
					 <script type="text/javascript">
						event="";
						$(function(){
							   $("#societyLink").click();
							   $('#administratorsLink').addClass('active');
							   getAll();
							});
						function validate(){
							var adminName=$("#nameTb").val();
							var adminEmail=$("#emailTb").val();
							// name validation  
						if(isEmpty(adminName,"Please Enter Administrator Name")){
							return false;
						}
						if(adminName.length<4){
							showErrorMessage("Admin Name should be atleast 4 characters!");
							return false
						}
						if(isAlphaNumericValue(adminName)){
							showErrorMessage("Admin Name must not contain numeric values ");
							return false;
						}

						//email validation
						if(isEmpty(adminEmail,"Please Enter Administrator Email")){
							return false;
						}
						if(!validateEmail(adminEmail)){
							showErrorMessage("Please Enter a valid email !");
							return false;
						}



						

						   
						   return true;
						}
				
						function getAll(){
						  return true;
						}

						
			function applyFilterableList() {
					  var options = {
						  valueNames: ['nameClass']
					  };
					  var list = new List('entityPanel', options);
				  }
			function getEntityDetails() {
			var id = $('input[name=selectRow]:checked:visible:first').val();
				
			 if (!id) {
				 showErrorMessage("Please select the  you wish to update");
				 return false;
			 }
			 var newObj= new Object();
			 newObj.id=id;
			 var objArray= new Array();
			 objArray.push(newObj);
			 $('#entity_modal').modal('show');
			 postdata=JSON.stringify(objArray);
			var postdata = JSON.stringify(objArray);
			 postBack("admin/getAdminDetails", "postdata=" + postdata, function(response) {
		 
				 var output = JSON.parse(response);
				 $('#nameTb').val(output.data[1]);
				 $('#phoneTb').val(output.data[2]);
				 $('#emailTb').val(output.data[3]);
				 $("#prvilegeGroupTb").val(output.data[4]);
				 $("#locationAccessTb").val(output.data[5]);
				 $('#idTb').val(id);
			 });
		 }
		 
			function submitForm(){
						   
						   if(validate()){
							  var newObj= new Object();
							  var objArray = new Array();
							  newObj.name=$("#nameTb").val();
							  newObj.email=$("#emailTb").val();
							  newObj.phone=$("#phoneTb").val();
							  newObj.id=$("#idTb").val();
							  newObj.privilege_id=$("#prvilegeGroupTb").val();
							  newObj.location=$("#locationAccessTb").val();
							  objArray.push(newObj);
							  console.log(objArray)
							  var postData=JSON.stringify(objArray);
							  if(event=="add"){
								 postBack("admin/addAdmin","postdata="+postData,function(response){
									console.log(response);
								   var json=JSON.parse(response);
								   if(json.data){
									   showSuccessMessage(json.message);
									   resetForm();
									   closeEntityModal();
									   getAll();
								   }
								   
							  });
						   }
						   else{
							  console.log(newObj);
							 postBack("admin/updateAdmin","postdata="+postData,function(response){
									console.log(response);
								   var json=JSON.parse(response);
								   if(json.data){
									   showSuccessMessage(json.message);
									   resetForm();
									   closeEntityModal();
									   getAll();
								   }
								 });
						 
						
						   }
						
						 
						 }
						}
					
							  
					 
		 
		 
					 </script>

{% endblock %}

{% block title %}
Dashboard
{% endblock %}

{% block bodyclass %}
 pace-done
{% endblock %}
{% block scriptblock %}
<script>
function validateUser(){  return true;
							  var userId=$('#userID').val();
							  var userpass=$('#userPass').val();
							  if(!userId){
							    showErrorMessage('Please Enter Your User ID !');
							    return false;
							  }
							  if (!isNaN(userId)){
							  	if(!validateMobileNo(userId,"Enter A Valid Phone Number")){
							  		return false
							  	}
							  }
							  if(isNaN(userId)){
							  	if(!validateEmail(userId,"Enter A Valid Email Address !")){
							  		return false;
							  	}
							  }
							  if(!userpass){
							    showErrorMessage('You did not  enter a password !');
							    return false;
							  }
							

							}
				function doLogin(){
					var userId=$('#userID').val();
					var userpass=$('#userPass').val();
					if(validateUser()){
						var objArray=new Array();
						var newObj=new Object();
						if(isNaN(userId)){
							newObj.loginType=1; 
						}else{
							newObj.loginType=0;
						}
						newObj.userId=userId;
						newObj.pass=userpass;
						objArray.push(newObj);
						var postdata = JSON.stringify(objArray);
		            	blockPage();
						
						postBack("doLogin","postdata="+postdata, function(response){
		                    console.log(response);
		                    var json = JSON.parse(response);

		                    if(json.data)
		                    {
		                        showSuccessMessage("Authentication Successful! Redirecting...");
		                        window.location = "admin";
		                    }
		                    else {
		                    	unblockPage();
		                        showErrorMessage("Failed to login. " + json.message);
		                        //grecaptcha.reset();
		                    }
		                });


						}	
					}
					
</script>

{% endblock %}
{% block sidebar %}
{% include "includes/navbar.html" %}
{% include "includes/sidebar.html" %}
{% endblock %}