{% extends "includes/layout.html" %}
{% block content %}
<!-- Advanced login -->
				
					<div class="row">
						<div class="col-md-12">
						   <div class="panel panel-flat">
							  <div id="entityPanel" class="panel-body">
								 <div class="form-group">
									<div class="row">
									   <div class="col-md-12">
										  <div class="form-group has-feedback has-feedback-left">
											 <input type="text" class="search form-control input-lg" placeholder="Search Admin by Phone  / Name ">
											 <div class="form-control-feedback">
												<i class="icon-search4" style="margin-top: 10px;"></i>
											 </div>
										  </div>
									   </div>
									</div>
								 </div>
								 <div class="form-group">
									<div class="row">
									   <div class="col-md-12">
										  <table class="table table-bordered table-hover table-condensed table-striped">
											 <thead class="bg-tomato">
												<tr>
												   <th style="width:100px;"></th>
												   <th>Name</th>
												   <th>Phone </th>
												   <th>Type </th>
												   
												</tr>
											 </thead>
											 <tbody id="tableBody" class="list">
											 </tbody>
										  </table>
									   </div>
									</div>
								 </div>
							  </div>
						   </div>
						</div>
					 </div>
					 <!-- Modal!-->
		   <div id="entity_modal" class="modal fade" data-backdrop="static" data-keyboard="false">
						<div class="modal-dialog modal-md">
						   <div class="modal-content">
							  <div class="modal-header bg-maroon">
								 <button type="button" class="close" onclick="closeEntityModal()">&times;</button>
								 <h5 id="formTitle" class="modal-title"><span id="actionTb"> </span>Resident</h5>
							  </div>
							  <form id="entityForm" action="#" class="form-horizontal">
								 <div class="modal-body">
									<div class="form-group">
									   <label class="control-label col-sm-3">Resident Name  <span class="text-danger">*</span></label>
									   <div class="col-sm-9">
										  <input id="nameTb" type="text" placeholder="Resident Name" maxlength="12" class="form-control maxlength" >
									   </div>
									</div>
									<div class="form-group">

								 <div class="form-group">
									   <label class="control-label col-sm-3">Admin Phone  <span class="text-danger">*</span></label>
									   <div class="col-sm-9">
										  <input id="phoneTb" type="number" placeholder="Resident Phone" maxlength="12" class="form-control maxlength" >
									   </div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-3"> Type  <span class="text-danger">*</span></label>
										<div class="col-sm-9">
										  <select class="select select2-hidden-accessible" tabindex="-1" aria-hidden="true" id="typeSelect">
													  <!-- <optgroup label="Mountain Time Zone">
														  <option value="AZ">Arizona</option>
														  <option value="CO">Colorado</option>
														  <option value="ID">Idaho</option>
														  <option value="WY">Wyoming</option>
													  </optgroup>
													  <optgroup label="Central Time Zone">
														  <option value="AL">Alabama</option>
														  <option value="AR">Arkansas</option>
														  <option value="KS">Kansas</option>
														  <option value="KY">Kentucky</option>
													  </optgroup>
													  <optgroup label="Eastern Time Zone">
														  <option value="CT">Connecticut</option>
														  <option value="FL">Florida</option>
														  <option value="MA">Massachusetts</option>
														  <option value="WV">West Virginia</option>
													  </optgroup> -->
														  <option value="1">Resident</option>
														  <option value="0">Owner</option>
												  
										  </select>
										</div>
									 </div>
									
									
									
								 </div>
								 <div class="modal-footer">
									<input type="hidden" id="idTb" value="0"/>
									<button type="reset" class="btn btn-default">Reset Form</button>
									<button type="button" id="formButton" name="" onclick="submitForm()" class="btn btn-primary">Submit form</button>
								 </div>
							  </form>
						   </div>
						</div>
					 </div>
					 <script type="text/javascript">
						event="";
						$(function(){
							$('#typeSelect').select2({
// options
});
							   $("#societyLink").click();
							   $('#residentsLink').addClass('active');
							   getAll();
							});
						function validate(){
						   
						   return true;
						}
						function getAll(){
						   var postdata="";
						   postBack("residents/getAllresidents","postdata="+postdata,function(response){
								 var json=JSON.parse(response);
								 console.log(json);
								 var output=json.data;
								  $("#tableBody").html("");
								   var html = "";
								   for (var i = 0; i < output.length; i++) {
		 
									   var tableData = "<tr>";
									   tableData += "<td><input id='cb" +output[i][0] + "' type='checkbox' name='selectRow' value='" + output[i][0] + "' style='height:20px;width:20px' />";
		 
									   if (output[i].flag == 1)
										   tableData += '<span class="label label-flat label-icon text-danger" data-popup="tooltip" data-placement="bottom" title="Deleted" style="float:right; padding-top: 4px;"><i class="icon-trash"></i></span>';
		 
									   tableData += "<td class='nameClass'>" + output[i][1] + "</td>";
									   tableData += "<td class='phoneClass'>" + output[i][2] + "</td>";
									   if(parseInt(output[i][3])>0){
										tableData += "<td >Resident</td>";
									   }else{
										tableData += "<td >Owner</td>";
									   }
									   
									   
									   tableData += "</tr>";
									   $("#tableBody").append(tableData);
								 }
									applyFilterableList();
									});
						}
						function applyFilterableList() {
					  var options = {
						  valueNames: ['nameClass', 'phoneClass']
					  };
					  var list = new List('entityPanel', options);
				  }
			function getEntityDetails() {
			var id = $('input[name=selectRow]:checked:visible:first').val();
				
			 if (!id) {
				 showErrorMessage("Please select the  you wish to update");
				 return false;
			 }
			 var newObj= new Object();
			 newObj.id=id;
			 var objArray= new Array();
			 objArray.push(newObj);
			 $('#entity_modal').modal('show');
			 postdata=JSON.stringify(objArray);
			var postdata = JSON.stringify(objArray);
			 postBack("residents/getresidentsDetails", "postdata=" + postdata, function(response) {
		 
				 var output = JSON.parse(response);
				 $('#nameTb').val(output.data[1]);
				 $('#phoneTb').val(output.data[2]);
				 $('#typeSelect').val(output.data[3]);
				 $('#idTb').val(id);
			 });
		 }
		 
						function submitForm(){
						   
						   if(validate()){
							  var newObj= new Object();
							  var objArray = new Array();
							  newObj.name=$("#nameTb").val();
							  newObj.type=$("#typeSelect").val();
							  newObj.phone=$("#phoneTb").val();
							  newObj.id=$("#idTb").val();
							  newObj.privilege_id=1;
							  objArray.push(newObj);
							  console.log(objArray)
							  var postData=JSON.stringify(objArray);
							  if(event=="add"){
								 postBack("residents/addresidents","postdata="+postData,function(response){
									console.log(response);
								   var json=JSON.parse(response);
								   if(json.data){
									   showSuccessMessage(json.message);
									   resetForm();
									   closeEntityModal();
									   getAll();
								   }
								   
							  });
						   }
						   else{
							  console.log(newObj);
							 postBack("residents/updateresidents","postdata="+postData,function(response){
									console.log(response);
								   var json=JSON.parse(response);
								   if(json.data){
									   showSuccessMessage(json.message);
									   resetForm();
									   closeEntityModal();
									   getAll();
								   }
								 });
						 
						
						   }
						
						 
						 }
						}
					
							  
					 
		 
		 
					 </script>

{% endblock %}

{% block title %}
Dashboard
{% endblock %}

{% block bodyclass %}
 pace-done
{% endblock %}
{% block scriptblock %}
<script>
function validateUser(){  return true;
							  var userId=$('#userID').val();
							  var userpass=$('#userPass').val();
							  if(!userId){
							    showErrorMessage('Please Enter Your User ID !');
							    return false;
							  }
							  if (!isNaN(userId)){
							  	if(!validateMobileNo(userId,"Enter A Valid Phone Number")){
							  		return false
							  	}
							  }
							  if(isNaN(userId)){
							  	if(!validateEmail(userId,"Enter A Valid Email Address !")){
							  		return false;
							  	}
							  }
							  if(!userpass){
							    showErrorMessage('You did not  enter a password !');
							    return false;
							  }
							

							}
				function doLogin(){
					var userId=$('#userID').val();
					var userpass=$('#userPass').val();
					if(validateUser()){
						var objArray=new Array();
						var newObj=new Object();
						if(isNaN(userId)){
							newObj.loginType=1; 
						}else{
							newObj.loginType=0;
						}
						newObj.userId=userId;
						newObj.pass=userpass;
						objArray.push(newObj);
						var postdata = JSON.stringify(objArray);
		            	blockPage();
						
						postBack("doLogin","postdata="+postdata, function(response){
		                    console.log(response);
		                    var json = JSON.parse(response);

		                    if(json.data)
		                    {
		                        showSuccessMessage("Authentication Successful! Redirecting...");
		                        window.location = "admin";
		                    }
		                    else {
		                    	unblockPage();
		                        showErrorMessage("Failed to login. " + json.message);
		                        //grecaptcha.reset();
		                    }
		                });


						}	
					}
					
</script>

{% endblock %}
{% block sidebar %}
{% include "includes/navbar.html" %}
{% include "includes/sidebar.html" %}
{% endblock %}